.wrapper {
  display: flex;
  //   justify-content: space-around;
  gap: 2%;
}

.wrapper .form-dashboard {
  width: 18%;
  height: 100vh;
  background: #212529;
}
.wrapper .form-dashboard .icon-navbar {
  font-size: 20px;
  color: #5cd2e6;
}
.wrapper .children {
  width: 80%;
  max-height: 100vh;
  overflow-y: scroll;
  position: relative;
}
.wrapper .btn-logout {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  border: 1px solid aqua;
  padding: 5px 7px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(21, 57, 134, 0.6);
}
.wrapper .logout:hover {
  cursor: pointer;
}
.wrapper .form-logout {
  position: absolute;
  border-radius: 30px;
  background: none;
  position: absolute;
  top: 0;
  right: 5px;
  color: #4b527e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border: none;
  padding: 10px 20px;
}

.wrapper .form-logout .icon-logout {
  font-size: 20px;
}

.wrapper .form-logout p {
  font-size: 20px;
}
